body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

h1, h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

hr {
	background-color: #cccccc;
	border: none;
}

a {
	text-decoration: none;
}

a:visited, a:link, a:active {
	color:#777777;
}

.header {
	background-color: #ffffff;
	height: 80px;
	width: 100%;
	border-bottom: 2px solid #cccccc;
}

.header-content {
	height: 100%;
	width: 960px;
	margin: 0 auto;
}

.name {
	line-height: 70px;
	background-color: #4aaaa5;
	height: 70px;
	width: 250px;
	position: absolute;
	top: 10px;
	float: left;
	text-align: center;
}

.navigation-links {
	line-height: 80px;
	height: 100%;
	float: right;
}

.content-background {
	width: 100%;
	height: calc(100vh - 160px);
	background-image: url("../images/beige_paper.png");
	display: block;
	overflow: auto;
}

.content-section {
	width: 960px;
	position: relative;
	margin: 0 auto;
}

.main-content {
	width: 610px;
	padding: 20px;
	margin-bottom: 30px;
	position: absolute;
	top: 30px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	float: left;
}

.main-portrait {
	float: left;
	margin-right: 10px;
}

.main-text {
	line-height: 30px;
	position: relative;
	top: -8px;
}

.contact-input {
	width: 100%;
	height: 30px;
	font-size: 15px;
	opacity: 50%;
	margin-top: 10px;
}

.contact-input#message {
	height: 150px;
}

.submit-button {
	border: none;
	background-color: #4aaaa5;
	color: #ffffff;
	width: 120px;
	height: 50px;
	font-size: 1.2em;
	cursor: pointer;
}

.left-images {
	width: 300px;
	height: 100%;
	float: left;
}

.right-images {
	width: 300px;
	height: 100%;
	position: absolute;
	right: 10px;
}

.portfolio-image {
	width: 290px;
	height: 223px;
}

.image-banner {
	background-color: #4aaaa5;
	width: 290px;
	height: 60px;
	position: relative;
	bottom: 70px;
	text-align: center;
	color: #ffffff;
}

.image-text {
	font-size: 1.5em;
	color: #ffffff;
	padding: 20px;
}

.sidebar {
	width: 230px;
	margin-top: 30px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	float: right;
	text-align: center;
	padding: 20px;
}

.social-image {
	width: 60px;
	height: 60px;
}

.footer {
	height: 80px;
	width: 100%;
	background-color: #666666;
	color: #cccccc;
	bottom: 0;
	border-top: 5px solid #4aaaa5;
}

.footer-content {
	width: 960px;
	margin: 0 auto;
	padding: 30px;
}

#name-header {
	font-size: 2em;
	color: #ffffff;
}

#main-content-header {
	font-size: 2em;
	color: #4aaaa5;
	margin-top: 10px;
	margin-bottom: 20px;
}

#sidebar-header {
	font-size: 1.5em;
	color: #4aaaa5;
	margin: 0 auto;
	margin-bottom: 20px;
}

#main-hr {
	height: 2px;
	margin-bottom: 30px;
}

#sidebar-hr {
	height: 1px;
	margin-bottom: 20px;
}

#copyright {
	text-align: center;
}

::-webkit-input-placeholder {
	opacity: 0.3;
}

:-ms-input-placeholder {
	opacity: 0.3;
}

::-moz-placeholder {
  opacity: 0.3;
}

:-moz-placeholder {
  opacity: 0.3;
}


